@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap" rel="stylesheet');

header{
    background-color: #0a2ff1;
    height: 60px;
}
body{
    margin: 0;
}
main{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
 
}
.blanco{
    background-color: white;
}
.negro{
    color:white;
}
h1{
    color: #0a2ff1;
    font-size: 66px;
    width: auto;
    margin: 0;
    padding: 0 0 150px;
}
h2{
    color: white;
    background-color: black;
    width: auto;
    margin: 0;
    font-size: 197px;
}
h3{
    color: black;
    width: auto;
    font-size: 217px;
}
h4{
    color: #0a2ff1;
    width: auto;
    padding: 10px;
    margin: 0;
    font-size: 60px;
}
span{
    font-weight: 600;
}
strong{
    background-color: black;
    color: white;
}
h5{
    color: #0a2ff1;
    width: auto;
    margin: 0;
    padding: 70px 0 0 0;
    font-size: 58px;
    font-weight: 600;
}
footer{
    background-color: #0a2ff1;
    height: 90px;
}
